<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=TecGurusfddsfdsfs;Trusted_Connection=True;"></add>-->
    <add name="DefaultConnection" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=TecGurus;Persist Security Info=True;User ID=developerTec;Password=D3v3l0p3r"></add>
  </connectionStrings>
  <appSettings>
    <add key="serverSmtp" value="smtp.gmail.com"></add>
    <add key="serverSmtpPort" value="587"></add>
    <add key="mailUser" value="edy.dev4@gmail.com"></add>
    <add key="mailPass" value="D3v3l0p3r"></add>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICustomServiceOf_BookDto" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:58480/BookService.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_ICustomServiceOf_BookDto"
          contract="ICustomServiceOf_BookDto" name="BasicHttpBinding_ICustomServiceOf_BookDto" />
    </client>
  </system.serviceModel>
</configuration>