@*Este espacio me permite crear variables de c#*@ 
@{
    var saludo = (string)ViewBag.Saludo;
}

@*Razor es un codigo hibrido c# y 
    html para interacturar*@
<h2> @saludo</h2>






